/*-----------------*/
/*General          */
/*-----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-inline: var(--side-padding);
    background-color: var(--clr-white);
    z-index: 2;
    position: relative;
}

header > * {
    height: fit-content;
}

.header--nav {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-inline: auto;
    padding: 20px;
    position: absolute;
    top: 60px;
    width: 82%;
}

.nav-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(hsla(233, 26%, 24%, .8) 5%, transparent);
}

header > .green-btn {
    display: none;
}

.menu-btn {
    background-color: transparent;
    border: none;
}

.header--nav > li {
    border-bottom: 2px solid transparent;
}

.header--nav > li:hover {
    cursor: pointer;
    border-color: var(--clr-dark);
}

.hide {
    display: none;
}

#section-1 {
    padding: 0px 0px 3em 0px;
    background-color: var(--clr-very-light-gray);
}

#section-1 > .image-content {
    padding-inline: calc(var(--side-padding)/3);
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#section-1 > .image-content > img {
    margin-top: -10%;
}

#section-1 > .text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding-inline: var(--side-padding);
}

#section-2 {
    background-color: var(--clr-light-grayish-blue);
}

#section-3 {
    background-color: var(--clr-very-light-gray);
}

#section-3 > .grid > .flex {
    gap: 0px;
}

#section-3 > .grid > .flex > .text-content  {
    align-self: flex-start;
    text-align: left;
    padding: 10px 20px 20px 20px;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

footer {
    padding-inline: var(--side-padding);
    background-color: var(--clr-dark-blue);
    align-items: center;
    justify-items: center ;
    gap: 20px;
    text-align: center;
}


footer ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}


.attribution {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
    padding-bottom: 10px;
}

.attribution a {
    color: var(--clr-grayish-blue)
}

.social-buttons {
    gap: 8px;
}

@media(min-width: 45em) {
    .hide {
        display: flex;
    }
    .header--nav {
        position: static;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        font-size: var(--fs-200);
        color: var(--clr-grayish-blue);
        gap: min(2vw, 25px);
    }

    header > .green-btn {
        display: block;
    }

    .menu-btn {
        display: none;
    }

    .nav-bg {
        display: none
    }

    #section-1 {
        display: grid;
        grid-template-rows: 90vh;
        grid-template-columns: 1fr 1.3fr;
        padding: 0px;

    }
    
    #section-1 > .text-content {
        padding-right: 0px;
        grid-area: 1 / 1;
        margin-block: auto;
        text-align: left;
    }

    #section-1 > .text-content > .green-btn{
        margin-right: auto;
    }

    #section-1 > .image-content {
        background: url(./images/bg-intro-desktop.svg);
        padding: 0px;
        grid-area: 1 / 2;
        position: relative;
        background-position: left;
    }

    #section-1 > .image-content > img {
        position: absolute;
        top: -10%;
        right: -15%;
        max-height: 820px;
    }

    #section-2 > .text-content {
        text-align: left;
        width: 60%;
    }

    #section-2 > .grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }

    #section-2 > .grid > .flex {
        align-items: flex-start;
        text-align: left;
    }

    #section-3 > h2 {
        text-align: left;
        width: 60%;
    }

    #section-3 > .grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }

    #section-3 > .grid > .flex {
        gap: 0px;
    }

    #section-3 > .grid > .flex img {
        aspect-ratio: 1.4 / 1;
    }

    .links {
        grid-template-columns: 1fr 1fr;
        text-align: left;
        grid-row: 1;
        grid-column: 2;
    }

    .social-buttons {
        grid-row: 2;
        grid-column: 1;
    }

    .all-rights {
        grid-row: 2;
        grid-column: 3;
        margin-left: auto;
    }

    footer > .green-btn {
        margin-left: auto;
    }

    footer {
        align-items: flex-start;
        grid-template-columns: 1fr 2fr 3fr;
    }
}